/*  Ponemos color verde
 al encabezado H1*/

h1 {
  color: darkblue;
  font-size: 30px;
  text-align: center;
  background-size: 50px;
  margin-left: 270px;
  margin-right: 300px;
  margin-top: 30px;
  text-shadow: 2px 2px 2px black;
  transition-property: all;
  transition-duration: 3s;
}

.icono {
  width: 30px;
  height: 30px;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-right: 1px, solid #fff;
  margin-bottom: 10px;
}

header label:hover {
  cursor: pointer;
  background-color: lightblue;
}

.menu li {
  padding: 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  border-right: 1px solid white;
}

.principal {
  text-decoration: none;
  color: ghostwhite;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px black;
}

.super {
  float: right;
}

.general {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
}

.carrusel-segundo {
  text-align: center;
}

.vueltaatras {
  width: 30px;
  height: 25px;
}

.section-primera {
  background-image: url(/img/covid.jpg);
  background-size: 2000px;
  background-repeat: no-repeat;
  padding: 10px;
  margin-top: -4.1px;
}
.lista-uno li {
  padding: 10px;
  list-style: none;
  display: inline-block;
  margin: auto 200px;
  background-color: transparent;
  padding: 20px;
}

.covid {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-style: oblique;
  text-shadow: 10px 10px 10px black;
  width: 100px;
}

/* Cambiamos Color a la palabra Covid*/
.virus {
  color: white;
}

/*class*/

.section-segunda {
  background-color: #f7f1e3;
  padding: 10px;
  margin-top: -18px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 10000;
}

.cuatro {
  color: darkcyan;
  text-decoration: none;
  font-size: 15px;
  font-style: oblique;
  text-shadow: 10px 10px 10px black;
}

.leyenda-pie {
  color: black;
  padding-left: 250px;
  font-size: small;
  font-weight: bold;
}

/* Achicamos tamaño al logo*/
.imagen {
  width: 100px;
}
/* posicion de imagenes de header en seccion asociados*/
.imagenasociarme {
  display: flex;
  justify-content: first baseline;
}

.imagenplan {
  margin-left: 55ch;
  margin-right: 55ch;
  width: 500px;
}

.asociarme {
  background-color: #d1ccc0;
}

h2 {
  text-align: center;
  text-shadow: 5px 5px 40px black;
  color: lightseagreen;
  font-size: 30px;
  padding: 10px 10px;
}

.plan {
  font-style: italic;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 30px;
  padding: 30px 30px;
}

/*APLICAMOS GRIDD  a Asociarme*/

.plan-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.5em;
  height: 80vh;
  justify-items: center;
  align-items: center;
  width: 85%;
  margin: auto;
}

.plan-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

.plan-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.plan-item2 {
  grid-column: 4/6;
  grid-row: 1/5;
}

.plan-item3 {
  grid-column: 7/9;
  grid-row: 1/5;
}

/* Prestadores*/

.prestadores {
  background-color: #aab7b8;
}

.prestador-1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration-style: double;
  color: black;
  font-size: 3ch;
  font-weight: 3000;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.body {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5ch;
  opacity: 1;
  display: block;
  text-align: center;
}

.menu-prestadores {
  margin: 5px 5px 5px;
  margin-left: 60ch;
  text-transform: uppercase;
  color: black;
  font-style: oblique;
  text-align: justify;
  margin-bottom: 40px;
  text-shadow: 10px 10px 10px black;
}

/*APLICAMOS GRIDD  a Prestadores*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5em;
  height: 90vh;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #850808;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item2 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.grid-item3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.menu {
  background-color: #48c9b0;
  padding: 20px 0;
  /* Habilito Flexbox */
  display: flex;

  /* alineo horizontalmente*/
  justify-content: center;
}

.titulo {
  background-color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
}

.logo-principal {
  width: 100px;
  transition-property: all;
  transition-duration: 2s;
}
.logo-principal:hover {
  transform: scale(1.5);
}

h1:hover {
  transform: scale(2);
}

.covid {
  transform: scale(2);
}

.anima1 {
  color: darkcyan;
  text-decoration: none;
  font-size: 30px;
  font-style: oblique;
  text-shadow: 10px 10px 10px black;
  width: 50px;
  height: 50px;
}

.anima1:hover {
  animation: ChangeColor 6s;
}

.card-title {
  color: darkcyan;
  text-shadow: 10px 10px 10px black;
}

@keyframes ChangeColor {
  0% {
    color: blue;
  }
  25% {
    font-size: 60px;
    color: darkgreen;
  }
  50% {
    position: relative;
    right: 150px;
  }
  100% {
    color: darkgreen;
    rotate: 15deg;
  }
}

.titulosector {
  color: black;
  text-shadow: 5px 5px 40px black;
  padding-bottom: 60px;
}

.titulosector2 {
  display: none;
  text-shadow: 5px 5px 40px white;
  align-items: center;
  text-align: center;
}

.sectorparrafo {
  color: black;

  text-align: center;
  text-shadow: 10px 10px 10px black;
}

.piesector {
  color: white;
  font-style: inherit;
  padding-top: 40px;
  text-shadow: 5px 5px 40px black;
}

.sector:hover {
  transform: scale(2);
}

.covidhacer {
  display: block;

  margin-left: auto;

  margin-right: auto;
}

.covidlista li {
  font-style: italic;
  text-align: left;
}

.covidlista1 * {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  padding: 5px;
}

.negrita {
  font-weight: bold;
  font-size: 15px;
}

.desinfectar {
  text-shadow: 10px 10px 10px black;
  padding: 15px;
  line-height: 35px;
}

.prestadores {
  background-image: url(../Desafio-8/img/stethoscope-2617701.jpg);
  background-repeat: no-repeat;
  background-size: 2500px;
}

.container-usuario {
  text-shadow: 10px 10px 10px black;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.titulo-prestadores {
  text-shadow: 10px 10px 10px black;
  margin-left: 150px;
  padding: 25px;
}

@media screen and (max-width: 800px) {
  .tamaño {
    width: 100%;
    height: auto;
  }

  .section-primera {
    width: 100%;
  }

  .lista-uno * {
    text-align: left;
    width: 100%;
    align-items: initial;
    margin: 0%;
  }

  .pie-pagina {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .covid {
    margin: auto -200px;
  }
}

@media (max-width: 768px) {
  header label {
    display: block;
  }

  .ejemplo {
    position: absolute;
    background: white;
    width: 70%;
    margin-left: -80%;
  }
  .menu {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid white;
  }

  .titulo {
    background-color: aqua;
    justify-content: center;
    width: 100%;
  }

  #btn-menu:checked ~ .ejemplo {
    margin: 0;
    z-index: 20;
  }

  .pie-pagina {
    display: none;
  }

  .container-carousel {
    width: 250%;
    justify-content: left !important ;
    align-items: center !important;
  }

  .lista-uno li {
    margin: auto;
  }

  .covidhacer {
    width: 100%;
  }
  .cuerpo-covid {
    background-color: darkseagreen;
  }

  .imagenplan {
    display: none;
  }
  .videoasociado iframe {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }

  .imagen {
    margin-left: auto;
  }

  .titulosector2 {
    display: flex;
  }
  .titulosector {
    display: none;
  }
}

/*MOBILE*/
@media only screen and (max-width: 576px) {
  .body {
    display: none;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .plan-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
